/* @import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Allura&family=Great+Vibes&display=swap');
 @import 'tailwindcss';
*{
    font-family : "Source Code Pro", monospace;
}

.gv{
  font-family: "Great Vibes", cursive;
  font-weight: 700;
  font-size: 2.5rem;
  font-style: normal;
}

.allura-regular {
  font-family: "Allura", cursive;
  font-weight: 400;
  font-style: normal;
}

@keyframes gradient-move {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradient-move 6s ease infinite;
}


select {
    appearance: none;
}

::-webkit-scrollbar{
  scrollbar-width: thin;
  scrollbar-color: oklch(84.1% 0.238 128.85);
}

tr:nth-child(even) {
  background-color: oklch(78.9% 0.154 211.53);
}

tbody>tr:nth-child(odd) {
  background-color: oklch(86.9% 0.005 56.366);
}